target/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### intellij idea ###
.idea/**/contentmodel.xml
.idea/modules.xml
.idea/jarrepositories.xml
.idea/compiler.xml
.idea/**/datasources/
.idea/**/datasources.ids
.idea/**/datasources.local.xml
.idea/**/sqldatasources.xml
.idea/**/dynamic.xml
.idea/**/uidesigner.xml
.idea/**/dbnavigator.xml
.idea/libraries/
*.iws
*.iml
*.ipr
.idea/**/workspace.xml
.idea/artifacts
.idea/*.iml
.idea/modules
*.ipr.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

**/src/main/resources/
/.idea/jarRepositories.xml
