<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>

<p th:text="${person.getFullName()} + ', ' + ${person.getBirthYear()}"/>

<div th:switch="${heldBooks.isEmpty()}">

    <p th:case="true">Человек пока не взял ни одной книги</p>

    <div th:case="false">
        <b>Книги: </b>
        <br/>

        <div th:each="book : ${heldBooks}">
            <a th:href="@{/books/{id}(id=${book.getId()})}"
               th:text="${book.getBookName()} + ', ' + ${book.getAuthorName()} + ', ' + ${book.getPublicationYear()}">
            </a>
        </div>
    </div>
</div>
<hr/>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать">
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить">
</form>

</body>
</html>