<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новая книга</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="title">Введите название книги: </label>
    <input type="text" th:field="*{bookName}" id="title">
    <div style="color: red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">Title errors</div>
    <br/>
    <label for="author">Введите полное имя автора книги: </label>
    <input type="text" th:field="*{authorName}" id="author">
    <div style="color: red" th:if="${#fields.hasErrors('authorName')}" th:errors="*{authorName}">Author name errors</div>
    <br/>
    <label for="year">Введите год публикации книг: </label>
    <input type="number" th:field="*{publicationYear}" id="year">
    <div style="color: red" th:if="${#fields.hasErrors('publicationYear')}" th:errors="*{publicationYear}">Publication year errors</div>
    <br/>
    <input type="submit" value="Добавить">
</form>

</body>
</html>